// ------ HEADER ------ //
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button { //siblings selector
        background-color: var(--color-grey-light-2);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}

// USER NAVIGATION
.user-nav {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    align-self: stretch; //to fill the entire space

    & > * { //only direct children
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

// ------ SIDEBAR NAVIGATION ------ //
.side-nav {
    margin-top: 3.5rem;
    // margin-bottom: auto; //to stick to the top
    font-size: 1.4rem;
    list-style: none;
    

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary-light);
        transform: scaleY(0);
        transition: transform .4s,
                    width .4s .2s; //animation duration animation delay
    }

    &__item:hover::before {
        transform: scaleY(1); //scale from top to bottom, y-direction
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-dark-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative; //z-index only works when we have specified posistion
        z-index: 10;
        
        display: flex;
        align-items: center;
    }

    // &__link:hover {
    //     background-color: var(--color-primary-light);
    // }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
    }
}

// ------ LEGAL TEXT ------ //
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}